img {
    width:500px;
    height:300px;
}

h2 {
    color:#ff379e;
}

.cardi{ color:purple;
    text-align:center;
}

body {
    background-color:black;
    text-align:center;
}
 
 .night {
     color:orange;
     font-family: 'Pacifico', cursive;
    }
    
 .christine {
     color:yellow;
     font-family: 'Dancing Script', cursive;
}

.south { 
    color:red;
}

.cardi {
    font-family: 'Charmoman', cursive;
}
